.intro {
  margin: auto;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.intro img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.intro_text p {
  margin: 0;
  font-size: 1.2rem;
  color: #ccc;
}

.intro_text h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.projects {
  padding: 30px 20px;
  max-width: 1200px;
  margin: auto;
  color: white;
}

.projects_desc {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1rem;
  color: #ccc;
}

.projects h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project_card {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  overflow: hidden;
  backdrop-filter: blur(6px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.5s ease;
}

.project_card img,
.project_card video {
  width: 100%;
  display: block;
}

.project_card iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  display: block;
}

.project_card h3 {
  margin: 15px;
  font-size: 1.2rem;
}

.project_card p {
  margin: 0 15px 20px 15px;
  font-size: 0.95rem;
  color: #ccc;
}

.project_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  background-color: rgba(204, 0, 255, 0.626);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background: rgb(16, 19, 24);
  border-radius: 15px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  color: white;
  text-align: center;
  position: relative;
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  animation: fadeInUp 0.3s ease;
}

@keyframes fadeInUp {
  from { transform: translateY(40px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

.modal_close {
  position: absolute;
  top: 0px; right: 0px;
  font-size: 1.8rem;
  cursor: pointer;
  color: #ccc;
  background: rgb(16, 19, 24);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}
.modal_close:hover { color: white; }

.modal_content video,
.modal_content iframe {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modal_content iframe {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  pointer-events: none;
}

.modal_button {
  display: inline-block;
  margin-top: 12px;
  padding: 12px 150px;
  background: #335fff;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}
.modal_button:hover {
  background: #5479ff;
}

.modal_play_image {
  vertical-align: middle;
  width: 28px;
  height: 28px;
}

.modal_test_text {
  font-size: 12px;
  color: #ccc;
}

.cta {
  text-align: center;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  color: white;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.cta p {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 25px;
}

.cta_button {
  padding: 10px 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, background 0.3s ease;
}
.cta_button:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

.whyme {
  padding: 10px 20px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  color: white;
}
.whyme h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}
.whyme_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.whyme_grid div {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 20px;
  backdrop-filter: blur(6px);
  transition: transform 0.3s ease, background 0.3s ease;
}
.whyme_grid div:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.1);
}
