.text {
  display: flex;
  justify-content: center;
  color: white;
}

.text p {
  font-size: 18px;
  color: #ccc;
}

a {
  text-decoration: none;
}


.go_back {
  display: flex;
  font-size: 22px;
  color: #ccc;
  justify-content: center;
  gap: 9px;
  border-radius: 8px;
  padding: 5px 10px;
  transition: opacity .2s ease, background .2s ease;
}

.go_back p {
  margin: 0;
}

.go_back:hover {
  opacity: 1; 
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  color: white;
}


.number {
  font-size: 200px;
  font-weight: bold;
  color: white;
}

.image-placeholder img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  position: absolute;
  color: rgba(255, 255, 255, 0.05);
  font-weight: bold;
  user-select: none;
}

.notification {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(43, 188, 130);
  color: white;
  padding: 0px 25px;
  border-radius: 999px;
  box-shadow: 
  0 0 4px rgba(43, 188, 130, 0.3), 
  0 0 8px rgba(43, 188, 130, 0.3);
  transition: top 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  z-index: 999;
  font-weight: 500;
  font-size: 14px;
}
.notification.show {
  top: 20px;
  opacity: 1;
}

